$yk-blue: #151e3f;
$rich-black: #030027;
$beige: #f2f3d9;
$tumbleweed: #dc9e82;
$rosegold: #c16e70;

// Elements
@import 'elements';

// Components
@import 'components';

// Layouts
@import 'layouts';
