$yk-blue: #151e3f;
$spacecadet: #2D2B55;
$balmond: #E4C463;
$tumbleweed: #dc9e82;
$sunsetorange: #f05d5e;

$rich-black: #030027;
$gunmetal: #30343f;
$slategray: #63768D;
$taupegray: #868489;
$platinum: #E8E3E0;
