// Sans Serif
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');

// Serif
@import url('https://fonts.googleapis.com/css?family=Spectral:500,600');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

// Branding
// -- SWT
@font-face {
  font-family: 'Cheque Regular';
  src: url('../assets/fonts/cheque-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/cheque-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// -- Blues
@import url('https://fonts.googleapis.com/css?family=Sriracha');