.footerInfo 
{
  color: $taupegray;
  font-family: 'Racing Sans One', sans-serif;
  font-size: .875rem;
}

.footerCredit {
  text-align: center;
  
  @include breakpoint(medium) 
  {
    text-align: right;
  }
}
